.modal-container {
    display: flex;
    width: 30vw;
}
.modal-dialog {
    margin-top: 3rem;
}

@media (max-width: 800px) {
    .modal-container {
        display: flex;
        width: 80vw;
    }
}
