.forgetPassword-container {
  padding: 3rem;
  width: 35rem;
}
.outerContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outerContainer h1 {
    font-weight: 600;
    font-size: 2rem;
}

@media (max-width: 426px) {
    .outerContainer h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .forgetPassword-container {
        padding: 1rem;
        width: 19rem;
      }
      .outerContainer {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .forgetPassword-label {
        font-size: 0.7rem;
      }
      .forgetPassword-container button {
        font-size: 0.8rem;
      }
}


